//-
  This file is part of Ezra Project.

  Copyright (C) 2019 - 2020 Tobias Klein <contact@ezra-project.net>

  Ezra Project is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Ezra Project is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with Ezra Project. See the file COPYING.
  If not, see <http://www.gnu.org/licenses/>.
//

- var tagIndex = 0
each tag in tags
  - var used_in_book_class = (tag.bookAssignmentCount > 0 ? "cb-label-assigned" : "")
  
  - var visible = true
  if current_filter != ''
    - var visible = tags_controller.tag_title_matches_filter(tag.title, current_filter);

  - var visibility = "";
  if !visible
    - visibility = "display: none;"

  div.checkbox-tag(style=visibility, class='lazy', data-loader='tagLoader', tag-index=tagIndex)
  - tagIndex += 1